/*HTML elements*/

html, body {
    height: 100%;
    margin: 0;
    font-family: Lato, Arial, Helvetica, sans-serif;
}

body {
    style: "margin:0;"
}

h1 {
    padding: .5em;
    color: #275B72;

}

form {
    background-color: #F4F1F1;
    margin-bottom: 2em;

}

form h5 {
    font-family: "Oswald", Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    color: #499CAF;
    font-weight: bolder;
}

img {
    width: 75px;
    max-width: 150px;
    margin: 10px;
    width: 100%;
    /*height: 100%;*/
}

label {
    font-size: .9em;
}

/*Elements by id*/

#div-img {
    align-content: center;
}

#left-pane {
    background-color: #F4F1F1;
    border: 1.5em solid #F4F1F1;
}

#loader {
    min-height: 100%;
    background: url('img/movie_projector.gif') no-repeat;
    background-size: 100%;
}

#main-div {
    display: grid;
    grid-template-columns: 25% 75%;
    grid-gap: 2em;
}

#movie-content {
    width: 100%;
    border-radius: 1em;
}

#right-pane {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    max-height: 100%;
    overflow: auto;
}


/*Elements by class name*/

.boxLoading {
    background-image: url(img/movie_projector.gif);
}

.card-body {
    font-size: 2em;
}


.card-footer {
    justify-content: flex-end;
}

.card-buttons {
    display: flex;
    justify-content: space-evenly;
    padding: .5em;

}

.checked {
    color: orange;
}


.hide-elements {
    display: none;
}

.movie-button {
    line-height: .25em;
}

.modal-form-title {
    color: #275B72;
    font-weight: bolder;
}

.modal-form-heading {
    color: #499CAF;
    font-weight: bolder;
}

.modal.custom .modal-dialog {
    width:100%;
    position:fixed;
    bottom:0;
    right:0;
    margin:0;
}

.star-size {
    font-size: 1.2em;
}

.star-disp {
    display: flex;
    justify-content: center;
}

.stars-bck {
    background: white;
}


.medium-blue {
    background-color: #499CAF;
}


.dark-blue {
    background-color: #275B72;
}

.dark-red {
    background-color: #800000;
}

.dark-green {
    background-color: #006400;
}

.dark-purple {
    background-color: #483D8B;
}

/*******************************************/
/* Small devices (tablets, 768px and up)  */
/*******************************************/

@media screen and (max-width: 480px) {
    .card {
        display: flex;
        align-content: center;
        padding: .5em;
        height: 100%;
    }

    .card-title {
        color: #3F3C3C;
        text-shadow: .1em .1em lightgrey;
    }

    .movie-poster {
        display: none;
    }

    .movie-poster-update {
        width: 75px;
        max-width: 150px;
        margin: 10px;
        width: 100%;
        height: 100%;
    }


    .movie-card {
        background-color: #F4F1F1;
        width: 12em;
        border: 2em;
        margin-top: .5em;
        margin-bottom: .25em;
    }

    #main-div {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    #right-pane {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        flex-wrap: wrap;
    }

    #movie-list {
        max-height: 100vh;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        /*align-content: flex-start;*/
    }
}

/*******************************************/
/* Medium devices (desktops, 992px and up) */
/*******************************************/

@media screen and (min-width: 768px) {
    .card-title {
        display: none;
    }

    .movie-poster {
        max-width: 10em;
        margin: 10px;

    }

    .movie-poster-update {
        display: none;
    }

    .card {
        display: flex;
        align-content: center;
        padding: .5em;
        height: 100%;
    }

    .movie-card {
        background-color: #F4F1F1;
        width: 12em;
        border: 2em;
        margin-top: .5em;
        margin-bottom: .25em;
    }

    #movie-list {
        max-height: 100vh;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    #movie-poster-delete{
        display: none;
    }

    #movie-poster-update{
        display: none;
    }

}

/*************************************************/
/* Large devices (large desktops, 1200px and up) */
/*************************************************/

@media screen and (min-width: 992px) {
    .card {
        display: flex;
        align-content: center;
        padding: .5em;
        height: 100%;
        box-shadow: .2em .2em .2em .2em #888888;
    }

    .card-title {
        display: none;
    }

    .movie-poster {
        margin: 10px;
        width: 100%;
        height: 100%;
    }

    .movie-poster-update {
        display: none;
    }

    .movie-card {
        background-color: #F4F1F1;
        width: 12em;
        border: 2em;
        margin-bottom: 1em;
        margin-right: 1.2em;
    }

    #movie-poster-delete{
        display: none;
    }

    #movie-list {
        max-height: 100vh;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-content: flex-start;
    }

    #movie-poster-update{
        display: none;
    }
}